.header-container{
    margin-top: 43px;
    display: flex;
    align-items: center;
}
.header-logo{
    margin-right: 580px;
    width: 110px;
    height: 41px;
}
.header-list{
    display: flex;
}
.header-item{
    margin-right: 36px;
    &:last-child{
        margin-right: 0;
    }
}
.header-nav-link{
    font-size: 18px;
line-height: 29px;
}