.intro {
    margin-top: 130px;
}

.intro-container {
    width: 1400px;
    padding: 0;
}

.intro-title {
    font-weight: 400;
    font-size: 80px;
    line-height: 100px;
    width: 1269px;
    margin-bottom: 136px;
    margin-left: 40px;
}

.intro-img {
    width: 1400px;
    margin: 0 auto;
    border-radius: 16px;
}

.intro-second-title {
    font-size: 80px;
    line-height: 100px;
    margin-top: 77px;
    margin-bottom: 67px;
    margin-left: 40px;
}

.intro-link {
    margin-left: 40px;
}